html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

header {
    /*border: solid red 1px;*/
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
}

nav {
	text-align: center;
	padding: 1%;
	margin: 0;
	border: 0;
	width: 100%;
	/*overflow: hidden;*/
}

a {
	padding: 0;
	margin: 0;
	border: 0;
}

a:link {
	text-decoration: none;
	color: #76cece;
}

a:hover {
	color: rgb(14, 11, 180);
	background-color: #76cece;
	text-shadow: #888a85;
	text-decoration: none;
	padding: 0.7%;
}

nav {
    background-color: #003580;
    text-align: center;
    padding: 10px;
}

h1 {
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
}

#titulo-web {
	text-align: center;
	padding: 0;
	margin: 0;
	border: 0;
}

.slogan {
    text-align: center;
    margin: 0;
	padding: 0;
}

footer {
    background-color: #004bad76;
    color: white;
    text-align: center;
    padding: 0;
    margin-top: 40px;
    width: 100%;
}

.end_menu nav {
    color: #012554d6;
    font-weight: 20px;
    text-shadow: rgba(57, 63, 100, 1);
    text-align: center;
    padding: 0.2% 0.2%;
    margin: 0;
    border-radius: 6px;
    width: 100%;
}

.a_inicio a:hover {
    background-color: #ededffbd;
    color: #056ffa;
    font-weight: bold;
    text-shadow: #45caff 1px 1px 1px;
}

.copyrigth {
    color: #c3c9e3;
    background-color: #011733d6;
    padding: 10px 0px 6px 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
